.navbar {
    height: 80px;
    width: 100%;
    background: white;
    box-shadow: 5px 5px 8px rgba(90, 90, 90, 0.4), -5px -5px 8px rgba(90, 90, 90, 0.4);

    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar nav {
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 80px;
}
.logo img {
    width: 100%;
}
.menu ul {
    padding: 0;
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: space-around;    
    align-items: center;
}
.menu ul li {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
}
.menu a {
    text-decoration: none;
    color: inherit;
}