.navbar {
  height: 80px;
  width: 100%;
  background: white;
  -webkit-box-shadow: 5px 5px 8px rgba(90, 90, 90, 0.4), -5px -5px 8px rgba(90, 90, 90, 0.4);
          box-shadow: 5px 5px 8px rgba(90, 90, 90, 0.4), -5px -5px 8px rgba(90, 90, 90, 0.4);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

.navbar nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 80px;
}

.logo img {
  width: 100%;
}

.menu ul {
  padding: 0;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul li {
  list-style: none;
  margin: 0 10px;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu ul li button {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.menu ul li button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.menu ul li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: white;
  -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0), -4px -4px 7px rgba(0, 0, 0, 0);
          box-shadow: 4px 4px 7px rgba(0, 0, 0, 0), -4px -4px 7px rgba(0, 0, 0, 0);
  border-radius: 50%;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.menu ul li:hover i {
  -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1), -4px -4px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1), -4px -4px 7px rgba(0, 0, 0, 0.1);
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.dropdown, .dropdownHidden {
  width: 100px;
  position: absolute;
  top: 45px;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -3px -3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -3px -3px 6px rgba(0, 0, 0, 0.1);
}

.dropdown hr, .dropdownHidden hr {
  margin: 0;
}

.dropdown ul, .dropdownHidden ul {
  display: unset;
}

.dropdown ul li, .dropdownHidden ul li {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.dropdown ul li:hover, .dropdownHidden ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}

.dropdownHidden {
  width: 0;
}

.notificationDropdown {
  width: 200px;
  max-height: 250px;
  overflow-y: scroll;
}

.notificationBadge {
  position: absolute;
  top: 1px;
  right: -2.5px;
  background: white;
  padding: 2px;
  border-radius: 50%;
}

.signal {
  height: 7.5px;
  width: 7.5px;
  border-radius: 50%;
  background: green;
}

.cartBadge {
  width: 12px;
  height: 12px;
  font-size: 12px;
  font-family: 'Source Sans Pro';
  line-height: 1;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=navbar.module.css.map */