* {
    --font-prim: 'David Libre', 'Helvetica', 'Montserrat', serif;
    --font-sec: 'Peddana', 'Helvetica', 'Montserrat', serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sec);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-prim)
}